## Build
bin/
obj/
publish/

## IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
_ReSharper*/
*.DotSettings.user

## Logs & cache
*.log
*.cache
*.tmp
TestResults/
coverage/

## Sistema operacional
.DS_Store
Thumbs.db

## Pacotes
packages/
*.nupkg

## Configuração local/secreta
appsettings.*.local.json
appsettings.Development.json
secrets.json
